/venv/
/AudioChunks/
/AudioRecords/
/Database/
/Frames/
/Reports/
/ViolationProofs/
/preview/camPreview.py
/faceSpoofing/spoofedDataset/
/faceSpoofing/model_saved.h5
/directoryManager/test.py
/sessions/api-key.json
/audioClassification/dataset/
/RoughPaper/data/
/RoughPaper/model_saved.h5
/MultiUserDetection/yolov3.weights
